{{ define "footer" }}
<footer class="footer">
    {{ if .Footer }}
    <span>{{ safeHTML .Footer }}</span>
    {{ else }}
    <span>&copy; {{ currentYear }} <a href="/">{{ .SiteName }}</a></span>
    <span>&middot;</span>
    <span>Powered by <a href="https://github.com/amigoer/kite-blog" rel="noopener" target="_blank">Kite</a></span>
    {{ end }}
    {{ if .ICP }}
    <br>
    <span><a href="https://beian.miit.gov.cn/" target="_blank" rel="nofollow">{{ .ICP }}</a></span>
    {{ end }}
</footer>
{{ end }}
